<a href="https://colab.research.google.com/github/lilmiztee04/instagram-content-efficiency-model/blob/main/newSMEModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#load file and rename and checkk attributes
import pandas as pd
SME = pd.read_csv('/content/social_media_engagement1.csv')
display(SME.head())

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,694,Sunday,neutral
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive

In [11]:
#check if there are missing data and if dataset needs to be cleaned up
SME.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   post_id          100 non-null    int64
 1   platform         100 non-null    object
 2   post_type        100 non-null    object
 3   post_time        100 non-null    object
 4   likes            100 non-null    int64
 5   comments         100 non-null    int64
 6   shares           100 non-null    int64
 7   post_day         100 non-null    object
 8   sentiment_score  100 non-null    object
dtypes: int64(4), object(5)
memory usage: 7.2+ KB

In [12]:
#remove unnecessary attributes, twitter isnt needed as im focusing on meta platform
SME = SME[SME['platform'] != 'Twitter']
display(SME.head())

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,694,Sunday,neutral
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative
5,6,Instagram,carousel,5/5/2023 20:00,256,186,211,Friday,neutral
6,7,Instagram,image,2/26/2023 11:45,1982,30,906,Sunday,positive

In [13]:
import random

# Define a list of content themes based on user's input
content_themes = [
    'Informational/Educational',
    'Promotional (Product Specific)',
    'UGC (User Generated Content)',
    'Lifestyle/Brand Storytelling',
    'Trend-based'
]

# Randomly assign a content theme to each row in the SME DataFrame
SME['content_theme'] = [random.choice(content_themes) for _ in range(len(SME))]

display(SME.head())

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score,content_theme
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive,Trend-based
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,694,Sunday,neutral,Informational/Educational
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative,Informational/Educational
5,6,Instagram,carousel,5/5/2023 20:00,256,186,211,Friday,neutral,Promotional (Product Specific)
6,7,Instagram,image,2/26/2023 11:45,1982,30,906,Sunday,positive,Trend-based

In [14]:
#create a new table for futher analytic analysis on when iis the best time to post advertisement
engagement_metrics = SME[['post_day','platform', 'post_time', 'likes', 'comments', 'shares']].copy()
display(engagement_metrics.head())

   post_day   platform        post_time  likes  comments  shares
0  Thursday   Facebook  8/17/2023 14:45   2121       474     628
1    Sunday   Facebook   5/14/2023 0:45   3660       432     694
2   Tuesday  Instagram  2/21/2023 16:15   4955       408     688
5    Friday  Instagram   5/5/2023 20:00    256       186     211
6    Sunday  Instagram  2/26/2023 11:45   1982        30     906

In [15]:
#new tabe created
postAna = engagement_metrics
display(postAna.head())

   post_day   platform        post_time  likes  comments  shares
0  Thursday   Facebook  8/17/2023 14:45   2121       474     628
1    Sunday   Facebook   5/14/2023 0:45   3660       432     694
2   Tuesday  Instagram  2/21/2023 16:15   4955       408     688
5    Friday  Instagram   5/5/2023 20:00    256       186     211
6    Sunday  Instagram  2/26/2023 11:45   1982        30     906

In [16]:
postAna.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   post_day   68 non-null     object
 1   platform   68 non-null     object
 2   post_time  68 non-null     object
 3   likes      68 non-null     int64
 4   comments   68 non-null     int64
 5   shares     68 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.7+ KB

In [17]:
SME = SME.drop(columns=['post_day', 'post_time'])
display(SME.head())

,post_id,platform,post_type,likes,comments,shares,sentiment_score,content_theme
0,1,Facebook,image,2121,474,628,positive,Trend-based
1,2,Facebook,carousel,3660,432,694,neutral,Informational/Educational
2,3,Instagram,poll,4955,408,688,negative,Informational/Educational
5,6,Instagram,carousel,256,186,211,neutral,Promotional (Product Specific)
6,7,Instagram,image,1982,30,906,positive,Trend-based

In [18]:
SME.to_csv('SMEprocessed.csv', index=False)
print('SME DataFrame saved to SMEprocessed.csv')

SME DataFrame saved to SMEprocessed.csv

In [19]:
postAna.to_csv('post_analysis_data.csv', index=False)
print('postAna DataFrame saved to post_analysis_data.csv')

postAna DataFrame saved to post_analysis_data.csv

In [35]:
#creating engagement score calculations for ANOVA
SME = pd.read_csv('SMEprocessed.csv')
SME['engagement'] = SME['likes'] + SME['comments'] + SME['shares']

In [22]:
#weighted
SME['weighted_engagement'] = (
    SME['likes'] +
    (2 * SME['comments']) +
    (3 * SME['shares'])
)

In [29]:
from sklearn.preprocessing import MinMaxScaler

# Recalculate weighted_engagement as SME was reloaded
SME['weighted_engagement'] = (
    SME['likes'] +
    (2 * SME['comments']) +
    (3 * SME['shares'])
)

scaler = MinMaxScaler()
SME['engagement_rate'] = scaler.fit_transform(
    SME[['weighted_engagement']]
)

In [31]:
sentiment_map = {'positive': 1, 'neutral': 0, 'negative': -1}
SME['sentiment_score'] = SME['sentiment_score'].map(sentiment_map)

SME['sentiment_adjusted_engagement'] = (
    SME['weighted_engagement'] * SME['sentiment_score']
)

In [32]:
SME.head()

,post_id,platform,post_type,likes,comments,shares,sentiment_score,content_theme,engagement,weighted_engagement,engagement_rate,sentiment_adjusted_engagement
0,1,Facebook,image,2121,474,628,1,Trend-based,3223,4953,0.515247,4953
1,2,Facebook,carousel,3660,432,694,0,Informational/Educational,4786,6606,0.723538,0
2,3,Instagram,poll,4955,408,688,-1,Informational/Educational,6051,7835,0.878402,-7835
3,6,Instagram,carousel,256,186,211,0,Promotional (Product Specific),653,1261,0.050025,0
4,7,Instagram,image,1982,30,906,1,Trend-based,2918,4760,0.490927,4760

In [34]:
SME.to_csv('SMEengagement.csv', index=False)
print('SME DataFrame saved to SMEengagement.csv')

SME DataFrame saved to SMEengagement.csv